@model mcpdipData.McpdipHeader

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>McpdipHeader</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FileName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FileName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FileType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FileType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubmitterName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubmitterName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubmissionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubmissionDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValidationStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValidationStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Levels)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Levels)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SchemaVersion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SchemaVersion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RecordYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RecordYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RecordMonth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RecordMonth)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HeaderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
