@model mcpdipData.ProcessLog

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ProcessLog</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TradingPartnerCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TradingPartnerCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RecordYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RecordYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RecordMonth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RecordMonth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GrievanceTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GrievanceTotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GrievanceSubmits)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GrievanceSubmits)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GrievanceErrors)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GrievanceErrors)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppealTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppealTotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppealSubmits)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppealSubmits)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppealErrors)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppealErrors)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.COCTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.COCTotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.COCSubmits)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.COCSubmits)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.COCErrors)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.COCErrors)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OONTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OONTotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OONSubmits)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OONSubmits)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OONErrors)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OONErrors)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PCPATotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PCPATotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PCPASubmits)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PCPASubmits)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PCPAErrors)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PCPAErrors)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RunStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RunStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RunTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RunTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RunBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RunBy)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="LogId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>

