@model mcpdandpcpa.Models.GrievanceViewModel
@{
    ViewData["Title"] = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form asp-action="Index">
    <div>
        <ul class="container nav nav-tabs">
            <li><a data-toggle="tab" href="#GrievanceCurrent" id="linkGrievanceCurrent" onclick="$('#linkGrievanceCurrent').css('color','purple');$('#linkGrievanceHistory').css('color','black');$('#linkGrievanceError').css('color','black');" style="color:purple;">Grievance Staging</a>&nbsp;&nbsp;|&nbsp;&nbsp;</li>
            <li><a data-toggle="tab" href="#GrievanceHistory" id="linkGrievanceHistory" onclick="$('#linkGrievanceCurrent').css('color','black');$('#linkGrievanceHistory').css('color','purple');$('#linkGrievanceError').css('color','black');">History</a>&nbsp;&nbsp;|&nbsp;&nbsp;</li>
            <li><a data-toggle="tab" href="#GrievanceError" id="linkGrievanceError" onclick="$('#linkGrievanceCurrent').css('color','black');$('#linkGrievanceHistory').css('color','black');$('#linkGrievanceError').css('color','purple');">Error</a></li>
        </ul>
        <div class="tab-content">
            <div id="GrievanceCurrent" class="tab-pane @Model.TabActiveCurrent">
                <table style="width:100%;">
                    <tr>
                        <td>
                            <label>Source:</label>
                            <select asp-for="selectedTradingPartner" asp-items="@Model.TradingPartners"></select>
                        </td>
                        <td></td>
                        <td>
                            <label>PlanCode:</label>
                            <select asp-for="PlanCodeCurrent" asp-items="@Model.DropdownPlanCodes"></select>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <input type="submit" value="Refresh" asp-route-id="1" class="btn btn-primary" />
                        </td>
                        <td class="float-right">
                            <select asp-for="selectedExport" asp-items="@Model.DropdownExport"></select>
                            <input type="submit" value="Download" asp-action="Downloadfile" asp-route-id="4" class="btn btn-primary" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select asp-for="sm11" asp-items="@Model.GrievanceCascadeDropdown" id="smid11" onchange="McpdCascadeSelection_Changed(this,19);"></select>
                        </td>
                        <td>
                            <input asp-for="st11" id="stid11" size="6" style="@Model.sm11Style" />
                        </td>
                        <td>
                            <select asp-for="sm12" asp-items="@Model.GrievanceCascadeDropdown" id="smid12" onchange="McpdCascadeSelection_Changed(this,19);" style="@Model.sm11Style"></select>
                        </td>
                        <td>
                            <input asp-for="st12" id="stid12" size="6" style="@Model.sm12Style" />
                        </td>
                        <td>
                            <select asp-for="sm13" asp-items="@Model.GrievanceCascadeDropdown" id="smid13" onchange="McpdCascadeSelection_Changed(this,19);" style="@Model.sm12Style"></select>
                        </td>
                        <td>
                            <input asp-for="st13" id="stid13" size="6" style="@Model.sm13Style" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select asp-for="sm14" asp-items="@Model.GrievanceCascadeDropdown" id="smid14" onchange="McpdCascadeSelection_Changed(this,19);" style="@Model.sm13Style"></select>
                        </td>
                        <td>
                            <input asp-for="st14" id="stid14" size="6" style="@Model.sm14Style" />
                        </td>
                        <td>
                            <select asp-for="sm15" asp-items="@Model.GrievanceCascadeDropdown" id="smid15" onchange="McpdCascadeSelection_Changed(this,19);" style="@Model.sm14Style"></select>
                        </td>
                        <td>
                            <input asp-for="st15" id="stid15" size="6" style="@Model.sm15Style" />
                        </td>
                        <td>
                            <select asp-for="sm16" asp-items="@Model.GrievanceCascadeDropdown" id="smid16" onchange="McpdCascadeSelection_Changed(this,19);" style="@Model.sm15Style"></select>
                        </td>
                        <td>
                            <input asp-for="st16" id="stid16" size="6" style="@Model.sm16Style" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select asp-for="sm17" asp-items="@Model.GrievanceCascadeDropdown" id="smid17" onchange="McpdCascadeSelection_Changed(this,19);" style="@Model.sm16Style"></select>
                        </td>
                        <td>
                            <input asp-for="st17" id="stid17" size="6" style="@Model.sm17Style" />
                        </td>
                        <td>
                            <select asp-for="sm18" asp-items="@Model.GrievanceCascadeDropdown" id="smid18" onchange="McpdCascadeSelection_Changed(this,19);" style="@Model.sm17Style"></select>
                        </td>
                        <td>
                            <input asp-for="st18" id="stid18" size="6" style="@Model.sm18Style" />
                        </td>
                        <td>
                            <select asp-for="sm19" asp-items="@Model.GrievanceCascadeDropdown" id="smid19" onchange="McpdCascadeSelection_Changed(this,19);" style="@Model.sm18Style"></select>
                        </td>
                        <td>
                            <input asp-for="st19" id="stid19" size="6" style="@Model.sm19Style" />
                        </td>
                    </tr>
                </table>
                <table class="table" style="white-space:nowrap;">
                    <thead>
                        <tr>
                            <th>
                                Source
                            </th>
                            <th>
                                PlanCode
                            </th>
                            <th>
                                CIN
                            </th>
                            <th>
                                GrievanceId
                            </th>
                            <th>
                                RecordType
                            </th>
                            <th>
                                ParentGrievanceId
                            </th>
                            <th>
                                GrievanceReceivedDate
                            </th>
                            <th>
                                GrievanceType
                            </th>
                            <th>
                                BenefitType
                            </th>
                            <th>
                                ExemptIndicator
                            </th>
                            <th>
                                DataSource
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.GrievanceCurrent)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TradingPartnerCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PlanCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cin)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GrievanceId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RecordType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ParentGrievanceId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GrievanceReceivedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GrievanceType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BenefitType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ExemptIndicator)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelitem => item.DataSource)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.McpdGrievanceId">Edit</a> |
                                    <a asp-action="Delete" asp-route-id="@item.McpdGrievanceId">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <table>
                    <tr>
                        @if (Model.currentFirstDisabled)
                        {
                            <td><input type="submit" class="page-link" asp-route-id="101" value="First" disabled="disabled" /></td>
                        }
                        else
                        {
                            <td><input type="submit" class="page-link" asp-route-id="101" value="First" /></td>
                        }
                        @if (Model.currentPreviousDisabled)
                        {
                            <td><input type="submit" class="page-link" asp-route-id="102" value="Previous" disabled="disabled" /></td>
                        }
                        else
                        {
                            <td><input type="submit" class="page-link" asp-route-id="102" value="Previous" /></td>
                        }
                        <td><input asp-for="PageCurrent" class="form-control" size="6" readonly="readonly" /></td>
                        @if (Model.currentNextDisabled)
                        {
                            <td><input type="submit" class="page-link" asp-route-id="103" value="Next" disabled="disabled" /></td>
                        }
                        else
                        {
                            <td><input type="submit" class="page-link" asp-route-id="103" value="Next" /></td>
                        }
                        @if (Model.currentLastDisabled)
                        {
                            <td><input type="submit" class="page-link" asp-route-id="104" value="Last" disabled="disabled" /></td>
                        }
                        else
                        {
                            <td><input type="submit" class="page-link" asp-route-id="104" value="Last" /></td>
                        }
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td><input asp-for="tbPageCurrent" class="form-control" size="6" id="clientGrievancePageCurrent" /></td>
                        <td>&nbsp;Of&nbsp;</td>
                        <td><input asp-for="PageCurrentTotal" class="form-control" size="6" readonly="readonly" id="clientGrievancePageCurrentTotal" /></td>
                        <td><input type="submit" class="page-link" asp-route-id="105" value="Goto Page" onclick="return GotoPageClientClick('clientGrievancePageCurrent','clientGrievancePageCurrentTotal');" /></td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td><select asp-for="PageSizeCurrent" asp-items="@Model.PageSizeDropdown"></select></td>
                        <td><input type="submit" class="page-link" asp-route-id="106" value="Change Page Size" /></td>
                    </tr>
                </table>
            </div>
            <div id="GrievanceHistory" class="tab-pane @Model.TabActiveHistory">
                <table style="width:100%;">
                    <tr>
                        <td>
                            <label>Source:</label>
                            <select asp-for="selectedTradingPartnerHistory" asp-items="@Model.TradingPartners"></select>
                        </td>
                        <td>
                            <label>PlanCode:</label>
                            <select asp-for="PlanCodeHistory" asp-items="@Model.DropdownPlanCodes"></select>
                        </td>
                        <td>
                            <label>Year:</label>
                            <select asp-for="selectedYearHistory" asp-items="@Model.DropdownYear"></select>
                        </td>
                        <td>
                            <label>Month:</label>
                            <select asp-for="selectedMonthHistory" asp-items="@Model.DropdownMonth"></select>
                        </td>
                        <td>
                            <input type="submit" value="Refresh" asp-route-id="2" class="btn btn-primary" />
                        </td>
                        <td class="float-right">
                            <select asp-for="selectedExportHistory" asp-items="@Model.DropdownExport"></select>
                            <input type="submit" value="Download" asp-action="Downloadfile" asp-route-id="5" class="btn btn-primary" />
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>
                            <select asp-for="hm11" asp-items="@Model.GrievanceCascadeDropdown" id="hmid11" onchange="McpdCascadeSelection_Changed(this,19);"></select>
                        </td>
                        <td>
                            <input asp-for="ht11" id="htid11" size="6" style="@Model.hm11Style" />
                        </td>
                        <td>
                            <select asp-for="hm12" asp-items="@Model.GrievanceCascadeDropdown" id="hmid12" onchange="McpdCascadeSelection_Changed(this,19);" style="@Model.hm11Style"></select>
                        </td>
                        <td>
                            <input asp-for="ht12" id="htid12" size="6" style="@Model.hm12Style" />
                        </td>
                        <td>
                            <select asp-for="hm13" asp-items="@Model.GrievanceCascadeDropdown" id="hmid13" onchange="GrievanceCascadeSelection_Changed(this,19);" style="@Model.hm12Style"></select>
                        </td>
                        <td>
                            <input asp-for="ht13" id="htid13" size="6" style="@Model.hm13Style" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select asp-for="hm14" asp-items="@Model.GrievanceCascadeDropdown" id="hmid14" onchange="McpdCascadeSelection_Changed(this,19);" style="@Model.hm13Style"></select>
                        </td>
                        <td>
                            <input asp-for="ht14" id="htid14" size="6" style="@Model.hm14Style" />
                        </td>
                        <td>
                            <select asp-for="hm15" asp-items="@Model.GrievanceCascadeDropdown" id="hmid15" onchange="McpdCascadeSelection_Changed(this,19);" style="@Model.hm14Style"></select>
                        </td>
                        <td>
                            <input asp-for="ht15" id="htid15" size="6" style="@Model.hm15Style" />
                        </td>
                        <td>
                            <select asp-for="hm16" asp-items="@Model.GrievanceCascadeDropdown" id="hmid16" onchange="McpdCascadeSelection_Changed(this,19);" style="@Model.hm15Style"></select>
                        </td>
                        <td>
                            <input asp-for="ht16" id="htid16" size="6" style="@Model.hm16Style" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select asp-for="hm17" asp-items="@Model.GrievanceCascadeDropdown" id="hmid17" onchange="McpdCascadeSelection_Changed(this,19);" style="@Model.hm16Style"></select>
                        </td>
                        <td>
                            <input asp-for="ht17" id="htid17" size="6" style="@Model.hm17Style" />
                        </td>
                        <td>
                            <select asp-for="hm18" asp-items="@Model.GrievanceCascadeDropdown" id="hmid18" onchange="McpdCascadeSelection_Changed(this,19);" style="@Model.hm17Style"></select>
                        </td>
                        <td>
                            <input asp-for="ht18" id="htid18" size="6" style="@Model.hm18Style" />
                        </td>
                        <td>
                            <select asp-for="hm19" asp-items="@Model.GrievanceCascadeDropdown" id="hmid19" onchange="McpdCascadeSelection_Changed(this,19);" style="@Model.hm18Style"></select>
                        </td>
                        <td>
                            <input asp-for="ht19" id="htid19" size="6" style="@Model.hm19Style" />
                        </td>
                    </tr>
                </table>
                <table class="table" style="white-space:nowrap;">
                    <thead>
                        <tr>
                            <th>
                                Source
                            </th>
                            <th>
                                PlanCode
                            </th>
                            <th>
                                CIN
                            </th>
                            <th>
                                GrievanceId
                            </th>
                            <th>
                                RecordType
                            </th>
                            <th>
                                ParentGrievanceId
                            </th>
                            <th>
                                GrievanceReceivedDate
                            </th>
                            <th>
                                GrievanceType
                            </th>
                            <th>
                                BenefitType
                            </th>
                            <th>
                                ExemptIndicator
                            </th>
                            <th>
                                DataSource
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.GrievanceHistory)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TradingPartnerCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PlanCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cin)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GrievanceId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RecordType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ParentGrievanceId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GrievanceReceivedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GrievanceType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BenefitType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ExemptIndicator)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelitem => item.DataSource)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <table>
                    <tr>
                        @if (Model.historyFirstDisabled)
                        {
                            <td><input type="submit" class="page-link" asp-route-id="201" value="First" disabled="disabled" /></td>
                        }
                        else
                        {
                            <td><input type="submit" class="page-link" asp-route-id="201" value="First" /></td>
                        }
                        @if (Model.historyPreviousDisabled)
                        {
                            <td><input type="submit" class="page-link" asp-route-id="202" value="Previous" disabled="disabled" /></td>
                        }
                        else
                        {
                            <td><input type="submit" class="page-link" asp-route-id="202" value="Previous" /></td>
                        }
                        <td><input asp-for="PageHistory" class="form-control" size="6" readonly="readonly" /></td>
                        @if (Model.historyNextDisabled)
                        {
                            <td><input type="submit" class="page-link" asp-route-id="203" value="Next" disabled="disabled" /></td>
                        }
                        else
                        {
                            <td><input type="submit" class="page-link" asp-route-id="203" value="Next" /></td>
                        }
                        @if (Model.historyLastDisabled)
                        {
                            <td><input type="submit" class="page-link" asp-route-id="204" value="Last" disabled="disabled" /></td>
                        }
                        else
                        {
                            <td><input type="submit" class="page-link" asp-route-id="204" value="Last" /></td>
                        }
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td><input asp-for="tbPageHistory" class="form-control" size="6" id="clientGrievancePageHistory" /></td>
                        <td>&nbsp;Of&nbsp;</td>
                        <td><input asp-for="PageHistoryTotal" class="form-control" size="6" readonly="readonly" id="clientGrievancePageHistoryTotal" /></td>
                        <td><input type="submit" class="page-link" asp-route-id="205" value="Goto Page" onclick="return GotoPageClientClick('clientGrievancePageHistory','clientGrievancePageHistoryTotal');" /></td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td><select asp-for="PageSizeHistory" asp-items="@Model.PageSizeDropdown"></select></td>
                        <td><input type="submit" class="page-link" asp-route-id="206" value="Change Page Size" /></td>
                    </tr>
                </table>
            </div>
            <div id="GrievanceError" class="tab-pane @Model.TabActiveError">
                <table style="width:100%;">
                    <tr>
                        <td>
                            <label>Source:</label>
                            <select asp-for="selectedTradingPartnerError" asp-items="@Model.TradingPartners"></select>
                        </td>
                        <td>
                            <label>PlanCode:</label>
                            <select asp-for="PlanCodeError" asp-items="@Model.DropdownPlanCodes"></select>
                        </td>
                        <td>
                            <label>Year:</label>
                            <select asp-for="selectedYearError" asp-items="@Model.DropdownYear"></select>
                        </td>
                        <td>
                            <label>Month:</label>
                            <select asp-for="selectedMonthError" asp-items="@Model.DropdownMonth"></select>
                        </td>
                        <td>
                            <input type="submit" value="Refresh" asp-route-id="3" class="btn btn-primary" />
                        </td>
                        <td class="float-right">
                            <select asp-for="selectedExportError" asp-items="@Model.DropdownExport"></select>
                            <input type="submit" value="Download" asp-action="Downloadfile" asp-route-id="6" class="btn btn-primary" />
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>
                            <select asp-for="em11" asp-items="@Model.GrievanceCascadeDropdown" id="emid11" onchange="McpdCascadeSelection_Changed(this,19);"></select>
                        </td>
                        <td>
                            <input asp-for="et11" id="etid11" size="6" style="@Model.em11Style" />
                        </td>
                        <td>
                            <select asp-for="em12" asp-items="@Model.GrievanceCascadeDropdown" id="emid12" onchange="McpdCascadeSelection_Changed(this,19);" style="@Model.em11Style"></select>
                        </td>
                        <td>
                            <input asp-for="et12" id="etid12" size="6" style="@Model.em12Style" />
                        </td>
                        <td>
                            <select asp-for="em13" asp-items="@Model.GrievanceCascadeDropdown" id="emid13" onchange="McpdCascadeSelection_Changed(this,19);" style="@Model.em12Style"></select>
                        </td>
                        <td>
                            <input asp-for="et13" id="etid13" size="6" style="@Model.em13Style" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select asp-for="em14" asp-items="@Model.GrievanceCascadeDropdown" id="emid14" onchange="McpdCascadeSelection_Changed(this,19);" style="@Model.em13Style"></select>
                        </td>
                        <td>
                            <input asp-for="et14" id="etid14" size="6" style="@Model.em14Style" />
                        </td>
                        <td>
                            <select asp-for="em15" asp-items="@Model.GrievanceCascadeDropdown" id="emid15" onchange="McpdCascadeSelection_Changed(this,19);" style="@Model.em14Style"></select>
                        </td>
                        <td>
                            <input asp-for="et15" id="etid15" size="6" style="@Model.em15Style" />
                        </td>
                        <td>
                            <select asp-for="em16" asp-items="@Model.GrievanceCascadeDropdown" id="emid16" onchange="McpdCascadeSelection_Changed(this,19);" style="@Model.em15Style"></select>
                        </td>
                        <td>
                            <input asp-for="et16" id="etid16" size="6" style="@Model.em16Style" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select asp-for="em17" asp-items="@Model.GrievanceCascadeDropdown" id="emid17" onchange="McpdCascadeSelection_Changed(this,19);" style="@Model.em16Style"></select>
                        </td>
                        <td>
                            <input asp-for="et17" id="etid17" size="6" style="@Model.em17Style" />
                        </td>
                        <td>
                            <select asp-for="em18" asp-items="@Model.GrievanceCascadeDropdown" id="emid18" onchange="McpdCascadeSelection_Changed(this,19);" style="@Model.em17Style"></select>
                        </td>
                        <td>
                            <input asp-for="et18" id="etid118" size="6" style="@Model.em18Style" />
                        </td>
                        <td>
                            <select asp-for="em19" asp-items="@Model.GrievanceCascadeDropdown" id="emid19" onchange="McpdCascadeSelection_Changed(this,19);" style="@Model.em18Style"></select>
                        </td>
                        <td>
                            <input asp-for="et19" id="etid19" size="6" style="@Model.em19Style" />
                        </td>
                    </tr>
                </table>
                <table class="table" style="white-space:nowrap;">
                    <thead>
                        <tr>
                            <th>
                                Source
                            </th>
                            <th>
                                PlanCode
                            </th>
                            <th>
                                CIN
                            </th>
                            <th>
                                GrievanceId
                            </th>
                            <th>
                                RecordType
                            </th>
                            <th>
                                ParentGrievanceId
                            </th>
                            <th>
                                GrievanceReceivedDate
                            </th>
                            <th>
                                GrievanceType
                            </th>
                            <th>
                                BenefitType
                            </th>
                            <th>
                                ExemptIndicator
                            </th>
                            <th>
                                DataSource
                            </th>
                            <th>
                                ErrorMessage
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.GrievanceError)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TradingPartnerCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PlanCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cin)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GrievanceId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RecordType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ParentGrievanceId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GrievanceReceivedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GrievanceType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BenefitType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ExemptIndicator)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelitem => item.DataSource)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelitem => item.ErrorMessage)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <table>
                    <tr>
                        @if (Model.errorFirstDisabled)
                        {
                            <td><input type="submit" class="page-link" asp-route-id="301" value="First" disabled="disabled" /></td>
                        }
                        else
                        {
                            <td><input type="submit" class="page-link" asp-route-id="301" value="First" /></td>
                        }
                        @if (Model.errorPreviousDisabled)
                        {
                            <td><input type="submit" class="page-link" asp-route-id="302" value="Previous" disabled="disabled" /></td>
                        }
                        else
                        {
                            <td><input type="submit" class="page-link" asp-route-id="302" value="Previous" /></td>
                        }
                        <td><input asp-for="PageError" class="form-control" size="6" readonly="readonly" /></td>
                        @if (Model.errorNextDisabled)
                        {
                            <td><input type="submit" class="page-link" asp-route-id="303" value="Next" disabled="disabled" /></td>
                        }
                        else
                        {
                            <td><input type="submit" class="page-link" asp-route-id="303" value="Next" /></td>
                        }
                        @if (Model.errorLastDisabled)
                        {
                            <td><input type="submit" class="page-link" asp-route-id="304" value="Last" disabled="disabled" /></td>
                        }
                        else
                        {
                            <td><input type="submit" class="page-link" asp-route-id="304" value="Last" /></td>
                        }
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td><input asp-for="tbPageError" class="form-control" size="6" id="clientGrievancePageError" /></td>
                        <td>&nbsp;Of&nbsp;</td>
                        <td><input asp-for="PageErrorTotal" class="form-control" size="6" readonly="readonly" id="clientGrievancePageErrorTotal" /></td>
                        <td><input type="submit" class="page-link" asp-route-id="305" value="Goto Page" onclick="return GotoPageClientClick('clientGrievancePageError','clientGrievancePageErrorTotal');" /></td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td><select asp-for="PageSizeError" asp-items="@Model.PageSizeDropdown"></select></td>
                        <td><input type="submit" class="page-link" asp-route-id="306" value="Change Page Size" /></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <input type="hidden" asp-for="CinCurrent" />
    <input type="hidden" asp-for="CinHistory" />
    <input type="hidden" asp-for="CinError" />
    <input type="hidden" asp-for="GrievanceIdCurrent" />
    <input type="hidden" asp-for="GrievanceIdHistory" />
    <input type="hidden" asp-for="GrievanceIdError" />
    <input type="hidden" asp-for="RecordTypeCurrent" />
    <input type="hidden" asp-for="RecordTypeHistory" />
    <input type="hidden" asp-for="RecordTypeError" />
    <input type="hidden" asp-for="ParentIdCurrent" />
    <input type="hidden" asp-for="ParentIdHistory" />
    <input type="hidden" asp-for="ParentIdError" />
    <input type="hidden" asp-for="ReceiveDateCurrent" />
    <input type="hidden" asp-for="ReceiveDateHistory" />
    <input type="hidden" asp-for="ReceiveDateError" />
    <input type="hidden" asp-for="GrievanceTypeCurrent" />
    <input type="hidden" asp-for="GrievanceTypeHistory" />
    <input type="hidden" asp-for="GrievanceTypeError" />
    <input type="hidden" asp-for="BenefitTypeCurrent" />
    <input type="hidden" asp-for="BenefitTypeHistory" />
    <input type="hidden" asp-for="BenefitTypeError" />
    <input type="hidden" asp-for="ExemptIndicatorCurrent" />
    <input type="hidden" asp-for="ExemptIndicatorHistory" />
    <input type="hidden" asp-for="ExemptIndicatorError" />
    <input type="hidden" asp-for="DataSourceCurrent" />
    <input type="hidden" asp-for="DataSourceHistory" />
    <input type="hidden" asp-for="DataSourceError" />
</form>
