@model PcpaViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="container">PCP Assignment Json</h1>
<form asp-action="PCPAJson">
    <table class="container table">
        <tr>
            <td>
                <label>@Html.DisplayNameFor(model => model.PcpaHeader.ReportingPeriod):</label>
                @Model.PcpaHeader.ReportingPeriod
            </td>
            <td>
                <label>@Html.DisplayNameFor(model => model.PcpaHeader.PlanParent):</label>
                @Model.PcpaHeader.PlanParent
            </td>
            <td>
                <label>@Html.DisplayNameFor(model => model.PcpaHeader.SubmissionType):</label>
                @Model.PcpaHeader.SubmissionType
            </td>
        </tr>
        <tr>
            <td>
                <label>@Html.DisplayNameFor(model => model.PcpaHeader.SubmissionDate):</label>
                @Model.PcpaHeader.SubmissionDate
            </td>
            <td>
                <label>@Html.DisplayNameFor(model => model.PcpaHeader.SubmissionVersion):</label>
                @Model.PcpaHeader.SubmissionVersion
            </td>
            <td>
                <label>@Html.DisplayNameFor(model => model.PcpaHeader.SchemaVersion):</label>
                @Model.PcpaHeader.SchemaVersion
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <label>Json Export Path:</label>
                <input asp-for="JsonExportPath" size="30" />
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <label>Json file Mode:</label>
                <select asp-for="SelectedJsonFileMode" asp-items="@Model.JsonFileMode"></select>
                <input type="submit" value="Generate Json Go..." class="btn btn-primary" />
            </td>
        </tr>
        <tr>
            <td colspan="3">
                @Model.PcpaMessage
            </td>
        </tr>
    </table>
</form>

